<!DOCTYPE html>
html
    head
        title= title
        style
            include styles.css
        //- link(rel='stylesheet', href='./styles.css')
        //- link(
        //-     rel='stylesheet'
        //-     name='viewport'
        //-     type='text/css'
        //-     media='screen'
        //-     href='/styles.css'
    body
        div#container
            div.center
                h1= title
                    div#weeks= weeks
                    p OR
                    div#days= days