<!DOCTYPE html>
html
    head
        title= title
        style
            include styles.css
    body
        div#container
            div.center
                h1= title
                    div#weeks= weeks
                    p OR
                    div#days= days